@font-face {
  font-family: "baloo";
  src: url("../assets/fonts/baloo/baloo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url('./theme.css');
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

:-moz-focusring {
  outline: auto;
}

:focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

h1{
  font-family: var(--font-display);
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: var(--color-foreground);
  font-size: var(--font-size-base);
  line-height: 1;
}

body{
  font-family: var(--font-body);
  line-height: 1.5;
  min-height: 100vh;
  background: var(--color-background);
}
