:root {
  /* Colores */
  --color-links: hsl(213, 100%, 52%);
  --color-links-hover: hsl(213, 100%, 43%);
  --color-border: hsl(0, 0%, 82%);

  /* Fuentes */
  --font-body: -apple-system, 'Segoe UI', Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif, system-ui, 'Apple Color Emoji', 'Segoe UI Emoji';
  --font-display: baloo, var(--font-body);

  /* Tamaños de fuente */
  --font-size-base: 4rem;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: hsl(0, 0%, 100%);
    --color-background: hsl(0, 0%, 7%);
    --color-wave: hsl(0, 0%, 5%);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --color-foreground: hsl(0, 0%, 7%);
    --color-background: hsl(0, 0%, 100%);
  }
}

@media (min-width: 640px) {
  :root {
    --font-size-base: 6rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-base: 8rem;
  }
}
